@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

      body {
        font-family: sans-serif;
        overflow: hidden; /* Prevent scrolling */
      }
      /* ***************************************************/
      /* Animated icon popup */
      #chat-icon {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #d10000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: bounce 2s infinite;
        z-index: 1000;
      }

      #chat-icon img {
        width: 40px;
        height: 40px;
      }

      @keyframes bounce {
        0%, 100% {
          transform: translateX(-50%) translateY(0);
        }
        50% {
          transform: translateX(-50%) translateY(-10px);
        }
      }

       /* Initial message input box */
       #initial-message-box {
        position: fixed;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        width: 80%;
        max-width: 300px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        z-index: 1001;
      }

      #initial-message-box input {
        width: calc(100% - 40px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      #initial-message-box button {
        background-color: #d10000;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
      }
      #toggle-chatbot {
        display: none;
      }

      /* Chatbot container ***************************************************/
      #chatbot-container {
        position: fixed;
        bottom: 70px;
        right: 20px;
        width: 300px;
        z-index: 999;
        background-color: #fff;
        border-radius: 10px;
        /* padding: 20px; */
        /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        display: none; /* Hidden by default */
      }

      h1 {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: "DM Sans", sans-serif;
        color: #fff;
      }
      #chat-header {
        text-align: left;
        font-size: 22px;
        font-family: "DM Sans", sans-serif;
        background-color: #d10000;
        height: fit-content;
        display: flex;
        justify-content: space-between; /* Align content horizontally */
        margin: 0; /* Remove margin as requested */
        border-radius: 10px 10px 0 0; /* Rounded corners on top */
        padding: 10px 20px; /* Padding inside the tab bar */
      }

      #chat-history {
        height: 300px;
        overflow-y: auto; /* Enables scrolling when necessary */
        /* hide scrollbar */
        scrollbar-width: none;
      }

      .user-message {
        text-align: right;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: "DM Sans", sans-serif;
      }
      #chat-container {
        padding: 20px;
      }

      .bot-message {
        text-align: left;
        padding: 10px;
        background-color: #f8d8d8;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
      }

      form {
        display: flex;
      }

      input {
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
      }

      button {
        background-color: #d10000;
        color: rgb(255, 255, 255);
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
      }

      .floating-button {
        position: fixed;
        bottom: 70px;
        right: 10px;
        z-index: 8;
        background-color: transparent;
        color: white;
        border: none;
        /* padding: 15px; */
        /* border-radius: 50%; */
        cursor: pointer;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
      }

      #loader {
        display: none; /* Hide by default */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      /* Close button style */
      .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        padding: 0;
        margin: 0;
      }
      .floating-button img {
        width: 56px;
      }
      .bot-message.welcome-message {
        background-color: #ffeded; /* Change the background color to your desired color */
        /* Additional styling if needed */
        color: #d10000;
        border: 1px solid #d10000;
      }
      #send-button {
        background-color: #d10000;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 15px;
      }

      #send-button i {
        font-size: 20px;
        color: #ffffff;
      }
      #chat-form {
        padding-top: 10px;
      }
      #user-info-form {
        display: none;
        padding: 20px;
        position: absolute;
        bottom: 85px;
        height: 55%;
        width: 74%;
        left: auto;
        text-align: center; /* Align inputs and button center */
        background-color: #ff8c8c;
        border-radius: 10px;
      }
      #user-info-form p {
        font-size: 14px;
        font-family: "DM Sans", sans-serif;
        margin-bottom: 10px;
        color: #ffffff;
      }

      .user-info-input {
        display: block;
        width: 95%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: "DM Sans", sans-serif;
      }

      #submit-info-button {
        background-color: #d10000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
      }

      #submit-info-button:hover {
        background-color: #a00000;
      }
      .end-conversation-button {
        background-color: #ff4d4d; /* Bright red for alert */
        color: #ffffff;
        border: 2px solid #d10000; /* Darker border for emphasis */
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        display: block;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
        transition: background-color 0.3s, border-color 0.3s; /* Smooth color transition */
      }

      .end-conversation-button:hover {
        background-color: #d10000; /* Darker red on hover */
        border-color: #b00000; /* Darker border on hover */
      }

      .end-conversation-button:active {
        background-color: #a00000; /* Even darker red when clicked */
        border-color: #800000; /* Darkest border when clicked */
      }